<div class="dijitTooltip dijitTooltipLeft" id="dojoTooltip">
	<div class="dijitTooltipContainer">
		<div data-dojo-attach-point="titleBar" class="djeoDialogTitleBar">
			<span data-dojo-attach-point="titleNode" class="dijitDialogTitle" role="header" level="1">
			</span>
			<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon" data-dojo-attach-event="ondijitclick: close" title="${buttonCancel}" role="button" tabIndex="-1">
			</span>
		</div>
		<div class="dijitTooltipContents" data-dojo-attach-point="containerNode" role='alert'></div>
	</div>
	<div class="dijitTooltipConnector" data-dojo-attach-point="connectorNode"></div>
</div>
